In [3]:
import os
import numpy as np
import pandas as pd

In [24]:
test = pd.DataFrame({'increase': [1, 2, 3, 4, 5, 6, 7, 8], 'decrease': [8, 7, 6, 5, 4, 3, 2, 1]})
test.head()

   increase  decrease
0         1         8
1         2         7
2         3         6
3         4         5
4         5         4

In [36]:
def get_price_move_ratio(df, price_col, horizon, sliding_aggr_mode='mean'):
    next_day_price = df[price_col].shift(-1).astype(float)
    future_xday_agg = df[price_col].rolling(horizon).agg(sliding_aggr_mode).shift(-horizon).astype(float)
    ratio = future_xday_agg / next_day_price
    df['next_day_price'] = next_day_price
    df[f'future_{horizon}day_{sliding_aggr_mode}'] = future_xday_agg
    df[f'{sliding_aggr_mode}_ratio'] = ratio
    return df

In [37]:
test = get_price_move_ratio(test, 'increase', 3)
test

,increase,decrease,next_day_price,future_3day_max,move_ratio,future_3day_mean,mean_ratio
0,1,8,2.0,4.0,2.000000,3.0,1.500000
1,2,7,3.0,5.0,1.666667,4.0,1.333333
2,3,6,4.0,6.0,1.500000,5.0,1.250000
3,4,5,5.0,7.0,1.400000,6.0,1.200000
4,5,4,6.0,8.0,1.333333,7.0,1.166667
5,6,3,7.0,NaN,NaN,NaN,NaN
6,7,2,8.0,NaN,NaN,NaN,NaN
7,8,1,NaN,NaN,NaN,NaN,NaN